/*--- Google Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black;
    background-color: #90A4AE;
    /* Sticky footer taken from Materialize */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.review-title {
    color: #37474f;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
    background-color: #fafafa;
    color: #37474f;
    text-align: center;
}

.brand-logo {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
    margin-left: 20px;
}

.nav-wrapper {
    padding-right: 20px;
}

/* --- Hero Image --- */
.hero-outer{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bg-image {
    width: 100%;
    height: 400px;
    background: url('../images/heroimage.png') no-repeat bottom center;
    background-size: cover;
    margin: auto;
}

/* --- Sites page --- */
.card-margin {
    margin: 15px;
}

.btn-small {
    margin: 5px;
}

.card-panel-home {
    height: 225px;
}

.site-title {
    max-height: 2em;
    overflow: clip;
    color: #37474f;
}

.card-panel {
    margin: 15px;
}

.card-icon i {
    font-size: xx-large;
}


/*--- Footer ---*/
.social-media-icon {
    font-size: 2rem;
    color: #fafafa;
    padding: 20px;
}

.social-media-hover i:hover {
    color: #0277bd;
}

footer li {
    display: inline;
}

.site-image {   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 175px;
}