/*--- Google Font Import ---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black;
    background-color: #90A4AE;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
    background-color: #E9C46A;
}

.brand-logo {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
    margin-left: 20px;
}

.nav-wrapper {
    padding-right: 20px;
}

/* --- Hero Image --- */
.hero-outer{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bg-image {
    width: 100%;
    height: 400px;
    background: url('../images/heroimage.png') no-repeat bottom center;
    background-size: cover;
    margin: auto;
}

/* --- Sites page --- */
.card-margin {
    margin: 15px;
}

.btn-small {
    margin: 5px;
}

.card-panel-home {
    height: 300px;
}

.site-title {
    max-height: 6em;
    overflow: clip;
}

.card-panel {
    margin: 15px;
}

.card-icon i {
    font-size: xx-large;
}