{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Site Review</h3>

    <!-- site review form from Materialize -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', site_id=site._id) }}">
            <!-- site name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-campground prefix"></i>
                    <input id="site_name" name="site_name" minlength="5"  maxlength="50" 
                    value="{{ site.site_name }}" type="text" class="validate" required>
                    <label for="site_name">Site Name</label>
                </div>
            </div>
            <!-- location -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-location-dot prefix"></i>
                        <select id="location_name" name="location_name" class="validate" required>
                        <option value="" disabled>Choose location</option>
                        {% for location in locations %}
                            {% if location.location_name == site.location_name %}
                                <option value="{{ location.location_name }}" selected>{{ location.location_name }}</option>
                            {% else %}
                                <option value="{{ location.location_name }}">{{ location.location_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <label for="location_name">Location</label>
                </div>
            </div>
            <!-- date picker from Materialize -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input id="visit_date" name="visit_date" type="text"
                        value="{{ site.visit_date }}" class="datepicker">
                    <label for="visit_date">Date of camp</label>
                </div>
            </div>
            <!-- review text area -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix"></i>
                    <textarea id="site_review" name="site_review" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                    {{- site.site_review -}}
                    </textarea>
                    <label for="site_review">Review</label>
                </div>
            </div>
            <!-- Members Only? switch -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-people-group prefix"></i>
                        <label for="members_only">
                            Members Only?
                            {% if site.members_only == "on" %}
                                <input type="checkbox" id="members_only" name="members_only" checked>
                            {% else %}
                                <input type="checkbox" id="members_only" name="members_only">
                            {% endif %}
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- Edit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_sites') }}" class="btn-large red">
                        Cancel <i class="fas fa-circle-xmark right"></i>
                    </a>
                    <!-- submit button -->
                    <button type="submit" class="btn-large green">
                        Edit Review <i class="fas fa-circle-plus right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}