{% extends "base.html" %}
{% block content %}

<div>
    <h1 class="center-align"> Browse Sites</h1>
</div>
   

<div class="row center-align card-margin">
    {% for site in sites %}
        <!-- Card from Materialize for site review cards -->
        <div class="col s12 m6 l4">
            <div class="card-panel shadow">
                <!-- site name -->
                <div class="center-align">
                    <h3>{{ site.site_name }}</h3>
                </div>

                <!-- site location -->
                <div class="center-align">
                    <p>{{ site.location_name }}</p>
                </div>

                <!-- Campsite reviewer -->
                <div class="center-align">
                    <p>Review by: </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}