{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Site Review</h3>

    <!-- site review -->
    <div class="col s12">
        <div class="card-panel grey lighten-5">
            <!-- site name -->
            <div class="center-align">
            <h3>{{ site.site_name }}</h3>
            </div>

            <!-- site location -->
            <div class="center-align">
                <p><i class="fas fa-location-dot prefix"></i> Site Location: {{ site.location_name }}</p>
            </div>

            <!-- visit date -->
            <div class="center-align">
                <p><i class="fas fa-calendar-alt prefix"></i> Visit date: {{ site.visit_date }}</p>
            </div>
            
            <!-- review -->
            <div class="center-align">
                <p><i class="fas fa-pen prefix"></i> Review: {{ site.site_review }}</p>
            </div>

            <!-- members only -->
            <div class="center-align">
                <div class="switch">
                    <i class="fas fa-people-group prefix"></i>
                    <label for="members_only">
                        Members Only?
                        {% if site.members_only == "on" %}
                            <input disabled type="checkbox" id="members_only" name="members_only" checked>
                        {% else %}
                            <input disabled type="checkbox" id="members_only" name="members_only">
                        {% endif %}
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
               
            <!-- Back button -->
            <div class="row">
                <!-- back button -->
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_sites') }}" class="btn-small green">
                    Back <i class="fas fa-rotate-left right"></i>
                    </a>
                    {% if session.user|lower == site.created_by|lower %}
                        <a href="{{ url_for('delete_review', site_id=site._id) }}" class="btn-small red">Delete</a>
                        <a href="{{ url_for('edit_review', site_id=site._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div> 
    </div>

{% endblock %}