{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="center-align">Site Review</h3>

    <!-- site review -->
    <div class="col s12">
        <div class="card-panel grey lighten-5">
            <div class="row">
                <!-- site name -->
                <div class="center-align">
                    <h3 class="review-title">{{ site.site_name }}</h3>
                </div>
            </div>
            <div class="row">
                <!-- site image -->
                <div class="row">
                    <div class="col s12 l4">
                        {% if site.image_url != ""  %}
                            <img src="{{ site.image_url }}" alt="campsite image" class="responsive-img">
                        {% else %}
                            <img src="/static/images/tent-image.jpg" alt="campsite image" class="responsive-img">
                        {% endif %}
                    </div>
                    
                    <div class="col s12 l8">
                        <!-- site location -->
                        <div class="row">
                            <div class="left-align">
                                <p><i class="fas fa-location-dot prefix small"></i> Site Location: {{ site.location_name }}</p>
                            </div>
                        </div>

                        <!-- visit date -->
                        <div class="row">
                            <div class="left-align">
                                <p><i class="fas fa-calendar-alt prefix small"></i> Visit date: {{ site.visit_date }}</p>
                            </div>
                        </div>
                        
                        <!-- review -->
                        <div class="row">
                            <div class="left-align">
                                <p><i class="fas fa-pen prefix small"></i> Review: {{ site.site_review }}</p>
                            </div>
                        </div>

                        <!-- Image URL -->
                        <div class="row">
                            <div class="left-align">
                                <p><i class="fas fa-camera prefix small"></i> Image URL: {{ site.image_url }}</p>
                            </div>
                        </div>

                        <!-- members only -->
                        <div class="row">
                            <div class="left-align">
                                <div class="switch">
                                    <i class="fas fa-people-group prefix small"></i>
                                    <label for="members_only">
                                        Members Only?
                                        {% if site.members_only == "on" %}
                                            <input disabled type="checkbox" id="members_only" name="members_only" checked>
                                        {% else %}
                                            <input disabled type="checkbox" id="members_only" name="members_only">
                                        {% endif %}
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- review created by-->
                        <div class="row">
                            <div class="left-align">
                                <p>Reviewed by: {{ site.created_by }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               
            <!-- Back button -->
            <div class="row">
                <!-- back button -->
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_sites') }}" class="btn-small green">
                    Back <i class="fas fa-rotate-left right"></i>
                    </a>
                    {% if ((session.user|lower == site.created_by|lower) or (session.user == "admin")) %}
                        <!--<a href="{{ url_for('delete_review', site_id=site._id) }}" class="btn-small red">Delete</a>-->
                        <!-- Modal Trigger -->
                        <button data-target="modal1" class="btn-small red modal-trigger">Delete Modal</button>
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                            <h5><i class="fas fa-triangle-exclamation small"></i> Are you sure you want to delete this review?
                                <i class="fas fa-triangle-exclamation small"></i></h5>
                            <p>Deleting a review cannot be undone afterwards</p>
                            </div>
                            <div class="modal-footer">
                            <a href="{{ url_for('delete_review', site_id=site._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>

                        <a href="{{ url_for('edit_review', site_id=site._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}